apache-airflow[crypto,postgres,jdbc]==1.10.10
boto3==1.14.25
google-cloud-bigquery==1.25.0
cloudpickle==1.4.1
dateparser==0.7.6
dask[complete]==2.20.0
distributed==2.20.0
bigquery-schema-generator==1.0
