apache-airflow[crypto,postgres,jdbc]==1.10.13
boto3==1.16.29
google-cloud-bigquery==2.3.1
cattrs==1.0.0
cloudpickle==1.4.1
dateparser==1.0.0
dask[complete]==2.30.0
distributed==2.30.1
bigquery-schema-generator==1.2
