apache-airflow[crypto,postgres,jdbc]==1.10.12
boto3==1.16.56
google-cloud-bigquery==2.3.1
cattrs==1.0.0
cloudpickle==1.4.1
dateparser==1.0.0
dask[complete]==2020.12.0
distributed==2021.1.0
bigquery-schema-generator==1.4
